.more {
	position: relative;
	cursor: pointer;
	padding: 0 7px;

	&:hover {
		.more__icon {
			fill: var(--bg-primary);
		}
	}

	&__icon {
		height: 20px;
		fill: var(--gray);
		pointer-events: none;
		transition: all 0.3s ease-in-out;
	}

	&__container {
		position: absolute;
		right: 0;
		overflow: hidden;
		height: 0;
		width: 160px;
		background-color: var(--white);
		border-radius: 8px;
		box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.1);

		&--open {
			height: fit-content;
			padding: 8px 10px;
		}
	}
}
